$red-0: #fcf1f0;
$red-1: #f2c9c7;
$red-2: #e8a19e;
$red-3: #de7975;
$red-4: #d4514c;
$red-5: #bf332e;
$red-6: #962824;
$red-7: #6d1d1a;
$red-8: #441210;

$green-0: #d2e8d6;
$green-1: #b1d6b6;
$green-2: #90c497;
$green-3: #6eb378;
$green-4: #529c5d;
$green-5: #407b49;
$green-6: #2f5935;
$green-7: #1d3821;
$green-8: #0c160d;

$blue-0: #dbe9f6;
$blue-1: #b2d0ec;
$blue-2: #89b7e2;
$blue-3: #609ed8;
$blue-4: #3785ce;
$blue-5: #296ba9;
$blue-6: #1f5180;
$blue-7: #153757;
$blue-8: #0b1d2e;

$gray-0: #eeeeee;
$gray-1: #d4d4d4;
$gray-2: #bbbbbb;
$gray-3: #a1a1a1;
$gray-4: #888888;
$gray-5: #6e6e6e;
$gray-6: #555555;
$gray-7: #3b3b3b;
$gray-8: #222222;
